<%- include('../partials/header') %>
<h2>Admin: Kategoriyalar</h2>
<form action="/admin/categories" method="POST">
  <input type="text" name="name" placeholder="Kategoriya nomi" required>
  <button type="submit">Qo‘shish</button>
</form>
<ul>
  <% categories.forEach(cat => { %>
    <li><%= cat.name %> <a href="/admin/categories/delete/<%= cat._id %>">O‘chirish</a></li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>