<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Xush kelibsiz: <%= user.username %>!</h1>
  <a href="/cars/models">Mashinalar Ro'yhati</a> | 
  <a href="/logout">Hisobdan Chiqish</a>
</body>
</html>
