<%- include('partials/header') %>
<h2>Ro'yxatdan o'tish</h2>
<form action="/auth/register" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Parol" required>
  <button type="submit">Ro'yxatdan o'tish</button>
</form>
<%- include('partials/footer') %>