<h1>
  <% if (user) { %>
    Xush kelibsiz: <%= user.username %>!
  <% } else { %>
    Xush kelibsiz, mehmon!
  <% } %>
</h1>

<a href="/cars/models">Mashinalar Ro'yhati</a> | 
<a href="/auth/login">Kirish</a> | 
<a href="/auth/register">Ro‘yxatdan o‘tish</a> | 
<a href="/logout">Chiqish</a>
