<h1>Xush kelibsiz, <%= user.username %>!</h1>
<p>Bu sizning asosiy sahifangiz.</p>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mashinalar</h5>
                <p class="card-text">Barcha mavjud mashinalarni ko'rish</p>
                <a href="/machines" class="btn btn-primary">Mashinalarga o'tish</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profil</h5>
                <p class="card-text">Shaxsiy ma'lumotlaringizni boshqarish</p>
                <a href="/profile" class="btn btn-primary">Profilga o'tish</a>
            </div>
        </div>
    </div>
</div>