<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Cars List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Modellari</h1>
  <ul>
    <% cars.forEach(car => { %>
      <li><%= car.brand %> - <%= car.model %> - <%= car.year %> - $<%= car.price %></li>
    <% }) %>
  </ul>
  <form action="/cars/add" method="POST">
  <input type="text" name="brand" placeholder="Brand" required>
  <input type="text" name="model" placeholder="Model" required>
  <input type="number" name="year" placeholder="Year" required>
  <input type="number" name="price" placeholder="Price" required>
  <input type="text" name="image" placeholder="Image URL" required>
  <button type="submit">Add Car</button>
</form>

  <a href="/cars/add">Yangi Mashina Qo'shish</a> |
  <a href="/logout">Hisobdan Chiqish</a> |
  <a href="/">Bosh Sahifa</a>
</body>
</html>
